/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* media query mobile*/
@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .contenedor, .contNos, .contenedorIndex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: initial;
    width: auto; }
    .contenedor header, .contNos header, .contenedorIndex header {
      background-color: #636567;
      display: flex;
      justify-content: space-around;
      height: 15vh; }
      .contenedor header a, .contNos header a, .contenedorIndex header a {
        display: flex;
        margin: 0 auto;
        padding: 0.7rem; }
      .contenedor header nav ul, .contNos header nav ul, .contenedorIndex header nav ul {
        display: flex;
        flex-wrap: wrap; }
    .contenedor main, .contNos main, .contenedorIndex main {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 1rem; }
    .contenedor section, .contNos section, .contenedorIndex section {
      display: none; }
    .contenedor footer, .contNos footer, .contenedorIndex footer {
      display: none; }
    .contenedor .main-dos, .contNos .main-dos, .contenedorIndex .main-dos {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #3F4143; }
  .contenedorIndex main {
    height: 85vh; } }

/* media query tablet */
@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .contenedor, .contNos, .contenedorIndex {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto; }
    .contenedor header, .contNos header, .contenedorIndex header {
      background-color: #636567;
      display: flex;
      justify-content: space-around;
      height: auto; }
      .contenedor header a, .contNos header a, .contenedorIndex header a {
        display: flex;
        margin: 0 auto;
        padding: 0.7rem; }
      .contenedor header nav ul, .contNos header nav ul, .contenedorIndex header nav ul {
        display: flex;
        flex-wrap: wrap; }
    .contenedor main, .contNos main, .contenedorIndex main {
      display: flex;
      flex-direction: column;
      text-align: center; }
      .contenedor main section, .contNos main section, .contenedorIndex main section {
        position: sticky;
        bottom: 0; }
    .contenedor footer, .contNos footer, .contenedorIndex footer {
      display: none; }
    .contenedor .main-dos, .contNos .main-dos, .contenedorIndex .main-dos {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #3F4143; }
  .contenedorIndex main {
    height: 83vh; }
    .contenedorIndex main section {
      position: absolute;
      bottom: 0; } }

/* estilos de index_main _index.scss */
.contenedorIndex main {
  background-color: #3F4143; }
  .contenedorIndex main .portada {
    width: 60%;
    margin: 0 auto; }
  .contenedorIndex main p {
    text-align: center;
    color: whitesmoke; }

/* estilo de pages _pages.scss*/
.main-dos .p-uno, .main-dos .p-dos, .main-dos .p-tres {
  color: whitesmoke;
  text-align: center;
  padding: 4rem 4rem 2rem 4rem; }

.main-dos {
  background-color: #3F4143;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-areas: "h2 h2 h2" "img-uno p-uno p-uno" "p-dos p-dos img-dos" "img-tres p-tres p-tres" "section section section";
  justify-content: center;
  justify-items: center; }
  .main-dos .img-uno {
    grid-area: img-uno;
    padding-left: 0.7rem;
    padding-right: 0.7rem; }
  .main-dos .img-dos {
    grid-area: img-dos;
    padding-right: 0.7rem;
    padding-left: 0.7rem; }
  .main-dos .img-tres {
    grid-area: img-tres;
    padding-left: 0.7rem;
    padding-right: 0.7rem; }
  .main-dos .p-uno {
    grid-area: p-uno; }
  .main-dos .p-dos {
    grid-area: p-dos; }
  .main-dos .p-tres {
    grid-area: p-tres; }
  .main-dos h2 {
    grid-area: h2;
    color: whitesmoke;
    text-decoration: solid underline whitesmoke;
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem; }
  .main-dos .img-uno, .main-dos .img-dos, .main-dos .img-tres {
    width: 15rem;
    height: 15rem; }
  .main-dos .img-suno {
    width: 100%;
    height: 100%; }
  .main-dos .img-sdos {
    width: 70%;
    height: 70%; }

/* estilos nosotros _nosotros.scss */
.mainCont {
  background-color: #3F4143; }
  .mainCont .about-us {
    margin: 1.2rem 6rem 3rem 6rem;
    padding: 1.2rem;
    color: whitesmoke; }
    .mainCont .about-us h2 {
      margin-bottom: 3rem;
      padding: 1.2rem;
      text-decoration: solid underline whitesmoke; }

/* estilos header */
header {
  background-color: #636567;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 20vh; }
  header nav ul {
    list-style: none;
    display: inline-flex;
    margin-bottom: 1rem;
    gap: 1rem; }
    header nav ul li a {
      color: whitesmoke;
      background-color: #353535;
      text-decoration: solid;
      padding: 0.7rem;
      border-radius: 300px;
      text-shadow: 3px 2px 5px black; }
  header h1 {
    display: none; }
  header .logo-empresa {
    width: 50%;
    height: 50%;
    margin: 0; }

/* estilos section */
section {
  display: block;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #636567;
  background: linear-gradient(0deg, #636567 40%, #3f4143 80%);
  width: 100%;
  grid-area: section; }
  section div {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    section div img {
      width: 35%; }

footer {
  background-color: #636567;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

/* estilo main contacto y nosotros */
.mainCont {
  flex-direction: column;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #3F4143;
  color: whitesmoke; }
