/* estilos de index_main _index.scss */ 

.contenedorIndex {

    main{
        background-color: $background-main;
        

        .portada{
            width: 60%;
            margin: 0 auto;
        }
        p{
            text-align: center;
            color: $text-color;
        }
    }
}
