// colores

$background-header: #636567;
$background-main: #3F4143;
$background-section:rgb(99, 101, 103);
$gradient-section: linear-gradient(0deg, rgba(99, 101, 103, 1) 40%, rgba(63, 65, 67, 1) 80%);
$background-footer: #636567;
$text-color: whitesmoke;
$boton-color: rgb(53, 53, 53);

